In [2]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [6]:
target=df.Survived
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [8]:
inputs=df.drop(['Survived'],axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [10]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [12]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [14]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [16]:
inputs.columns[inputs.isna().any()]  #this will check is there any null value

Index(['Age'], dtype='object')

In [18]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [20]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.15)

In [83]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [84]:
model.fit(X_train,y_train)

GaussianNB()

In [85]:
model.score(X_test,y_test)

0.7835820895522388

In [86]:
X_test[0:10]

     Pclass        Age      Fare  female
646       3  19.000000    7.8958   False
82        3  29.699118    7.7875    True
640       3  20.000000    7.8542   False
788       3   1.000000   20.5750   False
12        3  20.000000    8.0500   False
328       3  31.000000   20.5250    True
689       1  15.000000  211.3375    True
398       2  23.000000   10.5000   False
794       3  25.000000    7.8958   False
15        2  55.000000   16.0000    True

In [87]:
y_test[0:10]

646    0
82     1
640    0
788    1
12     0
328    1
689    1
398    0
794    0
15     1
Name: Survived, dtype: int64

In [88]:
model.predict(X_test[0:10])

array([0, 1, 0, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [96]:
model.predict_proba(X_test[:10])

array([[9.57082441e-01, 4.29175587e-02],
       [4.19582287e-01, 5.80417713e-01],
       [9.58021231e-01, 4.19787685e-02],
       [9.21818227e-01, 7.81817731e-02],
       [9.58051735e-01, 4.19482650e-02],
       [4.20909411e-01, 5.79090589e-01],
       [5.33533974e-08, 9.99999947e-01],
       [9.16797911e-01, 8.32020890e-02],
       [9.61790480e-01, 3.82095200e-02],
       [2.24892635e-01, 7.75107365e-01]])

In [100]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.82894737, 0.80263158, 0.75496689, 0.75496689, 0.74172185])